<!DOCTYPE HTML>
<html>
	<head>
		<title>오늘 뭐 입지?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">

		{% load static %}
		<link rel="stylesheet" href="{% static 'FitStyle/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'FitStyle/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1>Fit Style</h1>
							</header>
						</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{% url 'main:index' %}">Home</a></li>
							<li>
								<a href="#">Menu</a>
								<ul>
									<li><a href="{% url 'FitMirror:index' %}">FitMirror</a></li>
									<li><a href="{% url 'FitStyle:index' %}">FitStyle</li>
								</ul>
							</li>
							<li><a href="{% url 'FitMirror:index' %}">FitMirror</a></li>
							<li><a href="{% url 'FitStyle:index' %}">FitStyle</a></li>
						</ul>
					</nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
								<h2><a href="#">FitStyle에 오신 것을 환영합니다</a></h2>							
								<p>
									<br>
									매일 아침 무엇을 입을지 고민하셨나요? 이제는 그럴 필요 없습니다.<br>
									AI가 당신의 옷장 속 아이템을 분석하고, 다양한 코디를 제안해 드립니다.<br>
									스마트하게 옷장을 관리하고, 자신만의 독특한 스타일을 찾아보세요!
								</p>
							</header>


							<!-- upload -->
							<section id="banner">
								<div class="container">
									<form method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row" style="text-align: center; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
												<article id="main" class="col-6 photo-section special" style="width: 40%;">
													<header>
														<h3>상의 옷사진 업로드</h3><br>
														<div id="top_photos_section" class=""></div><br>
														<button type="button" id="reset_top_photos">취소</button>
													</header>
												</article>
												<article id="main" class="col-6 photo-section special" style="width: 40%;">
													<header>
														<h3>하의 옷사진 업로드</h3><br>
														<div id="bottom_photos_section" class=""></div><br>
														<button type="button" id="reset_bottom_photos">취소</button>
													</header>
												</article>
										</div>
										<br><br>
										<div class="row">
											<div class="col-12">
												<ul class="actions">
													<li><input id="fitstyle-submit" type="submit" value="업로드" class="primary" style="font-weight: 400;"/></li>
													<li><div id="spinner" class="spinner" style="display: none;"></div></li>
													<li><input type="button" id="reset_all_photos" value="초기화" style="font-weight: 400;"/></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>

							<hr>

							<!-- result -->
							<section id="banner">
								<div class="result-container">
									<h2>결과화면</h2><br><br>
									<div class="row" style="text-align: center; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">

										<div class="col-6 photo-section" style="width: 40%;">
											<h3>옷 조합 사진</h3><br>
											<img id="result-image1" src="" onerror="this.style.display='none'" class="img-fluid" style="width: auto; max-width: 100%; height: 80vh; display: block; margin: 0 auto;">
										</div>
										<div class="col-6 photo-section" style="width: 40%;">
											<h3>마네킹 사진</h3><br>
											<img id="result-image2" src="" onerror="this.style.display='none'" class="img-fluid" style="width: auto; max-width: 100%; height: 80vh; display: block; margin: 0 auto;">
										</div>

									</div>
								</div>

							</section>

						</article>
						<hr />
						<div class="wrapper style1">

							<section id="features" class="container special">
								<header>
									<h2>저희 서비스가 추구하는 가치는</h2>
									<p><strong>"바쁜 현대인의 시간 절약, &nbsp;환경 친화적 개발"</strong> &nbsp;입니다.</p>
								</header>
								<div class="row">
									<article class="col-4 col-12-mobile special">
										<header>
											<h3>시간 절약과 편리성</h3>
										</header>
										<p>
											바쁜 현대인은 일상적인 활동에서 가능한 한 시간을 절약하려고 합니다. 
											온라인 쇼핑이 대중화되었음에도 불구하고, 옷을 실제로 입어보지 않고 구매하는 것은 여전히 리스크가 큽니다. 
											가상 옷 입히기 사이트는 사용자가 실제로 옷을 입어보지 않고도 어떤 옷이 자신에게 잘 어울리는지 미리 확인할 수 있는 기능을 제공합니다. 
											이는 쇼핑 시간을 크게 단축시킬 뿐만 아니라, 옷을 고르고 구매하는 과정을 더욱 편리하게 만듭니다.
										</p>
									</article>
									<article class="col-4 col-12-mobile special">
										<header>
											<h3>맞춤형 패션 스타일링</h3>
										</header>
										<p>
											각 개인의 체형과 취향에 맞는 옷을 추천받을 수 있는 기능은 패션 산업에서 큰 이점을 제공합니다. 
											사용자는 자신의 사진을 업로드만 하면 AI가 체형에 맞는 스타일을 제안해 줍니다. 
											이 기능은 사용자가 자신에게 더 잘 어울리는 옷을 발견하게 도와주며, 이는 자신감 향상과 개인 스타일을 개선하는 데 도움을 줍니다.
										</p>
									</article>
									<article class="col-4 col-12-mobile special">
										<header>
											<h3>환경적 측면 개선</h3>
										</header>
										<p>
											패션 산업, 특히 패스트 패션은 환경에 미치는 부정적인 영향으로 인해 종종 비판의 대상이 됩니다. 
											가상 옷 입히기 사이트를 통해 사용자는 실제로 옷을 구매하기 전에 충분히 만족할 만한 옷을 선별할 수 있습니다. 
											이는 불필요한 구매를 줄이고, 반품을 감소시키며, 결과적으로 패션 산업의 환경오염을 줄이는 데 기여할 수 있습니다.
										</p>
									</article>
								</div>
							</section>
						</div>
				
					</div>

				</div>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">

						<!-- Facebook -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon brands fa-brands fa-facebook-f circled"><span class="label">Tweets</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="post stub">
											<header>
												<h6><a href="#">Choi Yun-Ho</a></h6>
											</header>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h6><a href="#">Joo Seok-Jin</a></h6>
											</header>
										</article>
									</li>
								</ul>
							</section>

						<!-- Email -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon fa-solid fa-envelope circled"><span class="label">Posts</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="post stub">
											<header>
												<h6><a href="#">Choi Yun-Ho</a></h6>
											</header>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h6><a href="#">Joo Seok-Jin</a></h6>
											</header>
										</article>
									</li>
								</ul>
							</section>

						<!-- Instagram -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon brands fa-instagram circled"><span class="label">Photos</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="post stub">
											<header>
												<h6><a href="#">Choi Yun-Ho</a></h6>
											</header>
										</article>
									</li>
									<li>
										<article class="post stub">
											<header>
												<h6><a href="#">Joo Seok-Jin</a></h6>
											</header>
										</article>
									</li>
							</section>

					</div>
					<hr />
					<div class="row">
						<div class="col-12">

							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>무슨 옷을 입을지 고민이신가요?</h3>
									</header>
									<p>바쁜 현대인의 삶, 높은 기대치를 만족하기 위해서 자기관리는 선택이 아닌 필수입니다. 저희가 도와드리겠습니다.</p>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
										<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; CJ, Inc.  All rights reserved.</li>
									</ul>
								</div>

						</div>

					</div>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="{% static 'FitStyle/assets/js/upload.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/util.js' %}"></script>
			<script src="{% static 'FitStyle/assets/js/main.js' %}"></script>
			

	</body>
</html>